header {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.products {
  display: grid;
  grid-gap: 20px;
  justify-content: center;
  grid-template-columns: repeat(3, 250px);
}
.product {
  height: 350px;
  background-color: rgb(192, 152, 226);
}
footer {
  margin-top: 10px;
  display: flex;
  background-color: rgb(159, 207, 244);
  color: rgb(0, 0, 0);
}
main button {
  background-color: bisque;
  border: none;
  border-radius: 25px;
  width: 100px;
  height: 50px;
  
}

@media screen and (max-width: 426px) {
  .products {
      grid-template-columns: repeat(1, 250px);
  }
}

@media screen and (max-width: 767px) {
  .products {
      grid-template-columns: repeat(2, 250px);
  }
}